.header {
  text-align: center;
}

.logo {
  height: 2.5em;
  padding: 2rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  cursor: pointer;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.title-container img {
  height: 3rem;
}

.filter-gold {
  filter: invert(99%) sepia(82%) saturate(1440%) hue-rotate(341deg)
    brightness(111%) contrast(95%);
}

.title {
  font-weight: 700;
  font-size: 2.3rem;
  padding-left: 5px;
}
