.add-token-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.page-title-container {
  display: flex;
  margin-left: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 490px;
  align-self: center;
}

.page-title-container h3 {
  font-size: 1.6rem;
}
