.token-info-container {
  display: flex;
  align-items: center;
  justify-items: center;
}

.token-info-container div {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.token-info-container span {
  font-size: 2.1rem;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}
